@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("../public/css/clash-display.css");

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 41, 36, 35;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: "ClashDisplay-Variable";
  src: url("../public/ClashDisplay-Variable.ttf") format("truetype");
  /* src: url("../public/fonts/ClashDisplay-Medium.ttf") format("truetype"); */
  font-display: swap;
  font-style: normal;
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  /* @media (min-width: 640px) {
    .text-6xl {
      @apply text-[32px];
    }
    .text-4xl {
      @apply text-[24px];
    }
    .text-3xl {
      @apply text-[20px];
    }
    .text-2xl {
      @apply text-[18px];
    }
    .text-xl {
      @apply text-[16px];
    }
    .text-lg {
      @apply text-[14px];
    }
    .text-base {
      @apply text-[12px];
    }
    .text-sm {
      @apply text-[10px];
    }
  }

  @media (min-width: 768px) {
    .text-6xl {
      @apply text-[36px];
    }

    .text-4xl {
      @apply text-[28px];
    }

    .text-3xl {
      @apply text-[24px];
    }

    .text-2xl {
      @apply text-[20px];
    }

    .text-xl {
      @apply text-[18px];
    }

    .text-lg {
      @apply text-[16px];
    }

    .text-base {
      @apply text-[14px];
    }

    .text-sm {
      @apply text-[12px];
    }
  }

  @media (min-width: 1024px) {
    .text-6xl {
      @apply text-[40px];
    }

    .text-4xl {
      @apply text-[32px];
    }

    .text-3xl {
      @apply text-[28px];
    }

    .text-2xl {
      @apply text-[24px];
    }

    .text-xl {
      @apply text-[20px];
    }

    .text-lg {
      @apply text-[18px];
    }

    .text-base {
      @apply text-[16px];
    }

    .text-sm {
      @apply text-[14px];
    }
  }

  @media (min-width: 1280px) {
    .text-6xl {
      @apply text-[48px];
    }

    .text-4xl {
      @apply text-[36px];
    }

    .text-3xl {
      @apply text-[32px];
    }

    .text-2xl {
      @apply text-[28px];
    }

    .text-xl {
      @apply text-[24px];
    }

    .text-lg {
      @apply text-[20px];
    }

    .text-base {
      @apply text-[18px];
    }

    .text-sm {
      @apply text-[16px];
    }

  }

  @media (min-width: 1536px) {
    .text-6xl {
      @apply text-[56px];
    }

    .text-4xl {
      @apply text-[40px];
    }

    .text-3xl {
      @apply text-[36px];
    }

    .text-2xl {
      @apply text-[32px];
    }

    .text-xl {
      @apply text-[28px];
    }

    .text-lg {
      @apply text-[24px];
    }

    .text-base {
      @apply text-[20px];
    }

    .text-sm {
      @apply text-[18px];
    }

  } */
}
